zmq*.tgz
doc
priv

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
c_src/Makefile
config.h
config.h.in
config.log
config.status
config.cache
configure
ebin/zmq.app
m4/version
src/Makefile
src/zmq.app
stamp-h1
